#uploader .tab-content {
    margin-top: 10px;
    min-height: 160px;
}

#uploader .template-download .preview img {
    max-width: 80px;
    max-height: 80px;
}

#uploader .nav a {
    font-size: .875rem;
    padding: .5rem .75rem;
}

#uploader .fade.in {
    opacity: 1
}
